.crypto-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.coin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 30px;
}

.values {
  display: flex;
  gap: 20px;
}
